{% extends 'base/base.html' %}

{% block content %}
    <title>Logout | Spodaily </title>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-12 col-lg-12 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <h1>Félicitations !</h1>
                    <p>L'équipe Spodaily vous remercie pour votre inscription !</p>
                    <p>Votre compte a bien été activé, cliquer sur le lien ci-dessous pour vous connecter</p>
                    <a class="small text-muted" href="{% url 'login' %}">Se connecter</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}