{% extends "base/base.html" %}
{% load static i18n %}

{% block content %}
    <title>Login | Spodaily </title>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-12 col-lg-12 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form method="post" action="{% url 'login' %}">
                      {% csrf_token %}
                        <div class="row pb-1">
                            <div class="col-3 p-0 m-0">
                                <img style="width: 110px;margin-top: -25px; margin-bottom: 15px" src="{% static 'spodaily_api/img/logo.png' %}">
                            </div>
                            <div class="col-6 pt-3 text-center">
                                <span style="letter-spacing: 1px" class="font-weight-bold">Optimiser vos performances</span>
                            </div>
                        </div>
                      <div class="form-outline mb-4">
                        <input name = "username" type="email" id="username" class="form-control form-control-lg" style="background-color: #C4C4C4; color: black"/>
                        <label class="form-label" for="username">Email</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input name="password" type="password" id="password" class="form-control form-control-lg" style="background-color: #C4C4C4; color: black"/>
                        <label class="form-label" for="password">Mot de passe</label>
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Submit" style="background-color: #616161">Se connecter</button>
                      </div>
                      <a class="small text-muted" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
                      <p class="mb-2 pb-lg-2" style="color: #393f81;">Vous n'avez pas de compte? <a href="{% url 'register' %}" style="color: #393f81;">Inscrivez-vous</a></p>
                    </form>
                      {% if form.errors %}
                        <div class="alert alert-warning">
                          <a class="close" href="" data-dismiss="alert">×</a>
                          <p class="text-center">La connexion a échoué. Le nom d'utilisateur ou le mot de passe que vous avez saisi est incorrect</p>
                        </div>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


