{% extends 'base/base.html' %}

{% block content %}
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-12 col-lg-12 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <h1>Check your inbox...</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                    <a class="small text-muted" href="{% url 'login' %}">Login again?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}