{% extends 'base/base.html' %}

{% block content %}
    <title>Password reset | Spodaily </title>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-12 col-lg-12 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <h1>Vérifiez votre boîte de réception...</h1>
                    <p>Nous vous avons envoyé par e-mail les instructions pour redéfinir votre mot de passe. Vous devriez recevoir cet e-mail sous peu !</p>
                    <a class="small text-muted" href="{% url 'login' %}">Se connecter ?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}