{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/fit/sidebar.html' %}
{% include 'base/fit/header.html' %}
    <title>Delete session | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid" style="min-height: 100vh">
            <div class="d-flex justify-content-between pt-2 pb-2">
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold">Supprimer l'objectif {{ goal.exercise__name }}</h6>

                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row mb-3 d-flex justify-content-center">
                                <p>Êtes-vous sur de vouloir supprimer l'objectif {{ goal.exercise__name }} ? </p>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                </div>
                                <div class="col-2">
                                    <input class="btn button-pink mb-2" type="submit" value="Supprimer" name="Delete">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}