{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/fit/sidebar.html' %}
{% include 'base/fit/header.html' %}
    <script src="{% static 'spodaily_api/vue_js_files/Main.vue' %}"></script>
    <title>Home | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid" style="min-height: 100vh">
            <div class="d-flex justify-content-between pt-2 pb-2">
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-5 text-right">
                                    <img class="img-responsive pt-2" style="width: 35px" src="{% static 'spodaily_api/img/icon/arm.png' %}">
                                </div>
                                <div class="col-7 m-0 p-0">
                                    <p class="text-left number p-0 m-0">{{ number_of_session }}</p>
                                    <p class="text-left p-0 m-0">Séances terminées</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-5 text-right">
                                    <img class="img-responsive pt-2" style="width: 35px" src="{% static 'spodaily_api/img/icon/dumbell.png' %}">
                                </div>
                                <div class="col-7 m-0 p-0">
                                    <p class="text-left number p-0 m-0">{{ number_of_tonnage | floatformat:0 }}</p>
                                    <p class="text-left p-0 m-0">Poids total soulevé (Kg)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-5 text-right">
                                    <img class="img-responsive pt-2" style="width: 35px" src="{% static 'spodaily_api/img/icon/kcal.png' %}">
                                </div>
                                <div class="col-7 m-0 p-0">
                                    <p class="text-left number p-0 m-0">{{ number_of_calories }}</p>
                                    <p class="text-left p-0 m-0">Calories brulées (kcal)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-md-5 col-sm-12 col-xs-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-header d-flex justify-content-between border-bottom-0 bg-dark text-light">
                            {% if session %}
                                {% for session in session %}
                                    <p class="bold p-0 m-0 align-self-center">Séance à venir : {{ session.name }}</p>
                                    <div>
                                        <a class="pr-3" href="{% url 'session_done' fk=session.uuid %}"><img style="width: 30px" src="{% static 'spodaily_api/img/accept.png' %}"></a>
                                        <a class="p-0 m-0 mt-2 pr-2" style=" color: black" href="{% url 'delete_future_session' session.uuid %}"><img style="width: 15px" src="{% static 'spodaily_api/img/delete.png' %}"></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive p-0 m-0">
                                <table class="table-borderless table text-core m-0 p-0">
                                    <thead class="text-dark">
                                        <tr>
                                            <th class="case-sm text-left font-12">Exercice</th>
                                            <th class="case-sm text-left font-12">Série</th>
                                            <th class="case-sm text-left font-12">Repétition</th>
                                            <th class="case-sm text-left font-12">Poids</th>
                                            <th class="case-sm text-left font-12">Repos</th>
                                            <th class="case-sm text-left font-12"></th>
                                            <th class="case-sm text-left font-12"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for act in activity %}
                                            {% for truc in act %}
                                                <tr>
                                                    <td class="case-sm text-left font-12">{{ truc.exercise_id__name }}</td>
                                                    <td class="case-sm text-left font-12">{{ truc.sets }}</td>
                                                    <td class="case-sm text-left font-12">{{ truc.repetition }}</td>
                                                    <td class="case-sm text-left font-12">{{ truc.weight|floatformat }}</td>
                                                    <td class="case-sm text-left font-12">{{ truc.rest }}</td>
                                                    <td class="case-sm text-left font-12"><a href="{% url 'update_future_activity' truc.uuid %}"><img style="width: 15px" src="{% static 'spodaily_api/img/update.png' %}"></a></td>
                                                    <td class="case-sm text-left font-12"><a href="{% url 'delete_future_activity' truc.uuid %}"><img style="width: 15px" src="{% static 'spodaily_api/img/delete.png' %}"></a></td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-md-7 col-sm-12 col-xs-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-header border-bottom-0 bg-dark text-light">
                            <p class="bold p-0 m-0">Ma progression</p>
                        </div>
                        <div class="card-body">
                            <div id="container" style="width: 100%;">
                                <canvas class="d-flex align-content-center" id="chart">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                                    <script>
                                        var config_sdt = {
                                            type: 'line',
                                            data: {
                                            datasets: [{
                                                data: {{ data|safe }},
                                                    backgroundColor: [
                                                        '#f54251'
                                                    ],
                                                label: '{{ exercise|safe }}',
                                                fill: false,
                                                borderColor: '#f54251'
                                            }],
                                            labels: {{ labels|safe }}
                                            },
                                            options: {
                                                responsive: true,
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: false
                                                        }
                                                    }]
                                                }
                                            }
                                        };
                                    </script>
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pb-3">
                    <div class="card shadow rounded">
                        <div class="card-header border-bottom-0 bg-dark text-light">
                            <p class="bold p-0 m-0">Mon assiduité</p>
                        </div>
                        <div class="card-body">
                            <div id="container" style="width: 100%;">
                                <canvas class="d-flex align-content-center" id="assiduity_chart" height="75px">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                                    <script>
                                        var config_assiduity = {
                                            type: 'bar',
                                            data: {
                                            datasets: [{
                                                barThickness: 60,
                                                data: {{ assiduity_values | safe }},
                                                    backgroundColor: '#f54251',
                                                label: 'assiduité',
                                                fill: false,
                                                borderColor: '#f54251',
                                                tension: 0.1
                                            }],
                                            labels: {{ assiduity_labels|safe }}
                                            },
                                            options: {
                                                responsive: true,
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true,
                                                             stepSize:1
                                                        }
                                                    }]
                                                }
                                            }
                                        };
                                        window.onload = function() {
                                            var graph = document.getElementById('chart').getContext('2d');
                                            var assiduity_graph = document.getElementById('assiduity_chart').getContext('2d');
                                            window.myPie = new Chart(graph, config_sdt);
                                            window.myPie = new Chart(assiduity_graph, config_assiduity);
                                        }
                                    </script>
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}