{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/fit/sidebar.html' %}
{% include 'base/fit/header.html' %}
    <title>Muscle | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        {% for muscle in muscle %}
        <div class="container-fluid">
            <h3 class="main-title text-uppercase align-self-center" style="padding: 0; margin: 0">Exercises pour les {{ muscle.name }}</h3>
        </div>
        {% endfor %}
        <div class="row p-3">
            {% for exercise in exercise %}
                <div class="col-4" style="padding-bottom: 25px">
                    <div class="card shadow h-100 border-0">
                        <div class="card-header border-0 d-flex justify-content-between blue text-light">
                            {{ exercise.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}