{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/fit/sidebar.html' %}
{% include 'base/fit/header.html' %}
    <title>Done session | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <div class="d-flex justify-content-between pt-2">
                <h3 class="main-title text-uppercase align-self-center" style="padding: 0; margin: 0">Séance terminée</h3>
            </div>
            <div>
                <h6 class="text-muted m-0 p-0">Lorsqu'une séance est marquée comme validée, elle s'ajoute automatiquement aux séances passées.</h6>
                <h6 class="text-muted">Dans le cas d'une séance créée depuis l'onglet <b>programme</b>, elle sera automatiquement reprogrammée à la date correspondante à sa récurrence.</h6>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex blue text-light">
                        <h6 class="m-0 p-0 font-weight-bold">Marquer la séance {{ session.name }} comme terminée</h6>

                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row mb-3 d-flex justify-content-center">
                                <p>Voulez-vous marquer la séance {{ session.name }} du {{ session.date | date:'d/m/y'}} comme terminée ?</p>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                </div>
                                <div class="col-2">
                                    <input class="btn btn-dark mb-2" type="submit" value="Terminer" name="Delete">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}