{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/fit/sidebar.html' %}
{% include 'base/fit/header.html' %}
    <title>Update activity | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid" style="min-height: 100vh">
            <div class="row d-flex justify-content-center">
                <div class="col-9 pt-2">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold">Modifier un objectif </h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label>Exercice </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{ form.exercise }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Poids </label>
                                </div>
                                <div class="col-6">
                                    <label>Date </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{form.weight}}
                                </div>
                                <div class="col-6">
                                    {{form.date}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                </div>
                                <div class="col-2">
                                    <input class="btn button-pink mb-2" type="submit" value="Enregistrer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}