footer {
     position: relative;
     bottom: 0;
     right: 0;
     top: auto;
     height: auto;
     margin-top: auto;
     width: 100%;
     float: right;
     text-align: center;
     background-color: #f8f9fa!important;
     color: black;
     font-family: Roboto, sans-serif !important;
 }

.content{
    min-height: calc(100vh - 57px);
    display: flex;
    flex-direction: column;
}

 .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}