<!DOCTYPE html>
{% load static i18n %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'spodaily_api/css/footer.css' %}">

    <link rel="shortcut icon" href="{% static 'logo.ico' %}" />

    {% block style %}

        <style>
            a{
                text-decoration: none !important;
            }
        </style>
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
    Weglot.initialize({
        api_key: 'wg_a18cde9a7a9cd460b2ab14a0cf4c37b47'
    });
    </script>

    {% endblock %}
</head>
<body style="background-color: lightgray">
    {% block content %}

    {% endblock %}

</body>
</html>