<!DOCTYPE html>
{% load static i18n %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'spodaily_api/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'spodaily_api/css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">

    {% block style %}

        <style>
            a{
                text-decoration: none !important;
            }
        </style>

    {% endblock %}
</head>
<body style="background-color: #E5E5E5">
    {% block content %}

    {% endblock %}

</body>
</html>