<div style="padding-left: 200px;">
    <nav class="navbar navbar-expand navbar-dark ftco_navbar bg-light bg-success ftco-navbar-light border-bottom border-light d-flex flex-row-reverse" id="ftco-navbar">
            <ul class="navbar-nav side-links">
                <li class="nav-item"><a class="nav-link text-dark font-weight-bold" href="{% url 'account' %}"> Mon compte </a></li>
                <li class="nav-item"><a class="nav-link text-dark font-weight-bold" href='{% url 'logout' %}'>Se déconnecter</a></li>
            </ul>
    </nav>
</div>


