{% load static %}
<link rel="stylesheet" href="{% static 'spodaily_api/css/base.css' %}">


<style>
    *{
        font-family: Montserrat, sans-serif !important;
        font-size: 14px;
    }
    .sidebar {
          width: 200px;
          position : absolute;
          height: 100%;
    }
</style>

<div class="sidebar list-group m-0 p-0 accordion v-100 toggle position-fixed d-flex flex-column justify-content-between sidebar-fit">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col picture text-center pt-2">
                    <a href="{% url 'home' %}"><img class="img-fluid" style="height: 40px" src="{% static 'spodaily_api/img/logo-spodaily.png' %}" alt="logo Spodaily"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 100%">
        <div class="col-12">
            <div class="side-links">
                <a style="margin-left: -10px" class="list-group-item sidebar-fit border-0 link" href="{% url 'home' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/dashboard.png' %}">Tableau de bord</a>
                <a style="margin-left: -10px" class="list-group-item sidebar-fit border-0 link" href="{% url 'program' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/program.png' %}">Programme</a>
                <a style="margin-left: -10px" class="list-group-item sidebar-fit border-0 link" href="{% url 'past_session' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/history.png' %}">Séances passées</a>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-12">
            <div class="side-links">
                <a style="margin-left: -10px" class="list-group-item sidebar-fit border-0 link" href="{% url 'contact' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/contact.png' %}">Contact</a>
                <a style="margin-left: -10px" class="list-group-item sidebar-fit border-0 link text-light"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/information.png' %}">Informations</a>
            </div>
        </div>
    </div>
</div>