{% load static %}
<style>
    *{
        font-family: Roboto, sans-serif !important;
    }
    .sidebar {
          width: 200px;
          position : absolute;
          height: 100%;
    }
</style>

<div class="sidebar list-group m-0 p-0 accordion v-100 toggle position-fixed d-flex flex-column justify-content-between sidebar-green">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="picture" style="padding: 15px">
                        <a href="{% url 'home' %}"><img class="img img-fluid" src="{% static 'spodaily_api/img/logo.png' %}" alt="logo Spodaily"></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="side-links">
                        <a style="margin-left: -10px" class="list-group-item text-light sidebar-green" href="{% url 'food_home' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/dashboard.png' %}">Tableau de bord</a>
                        <a style="margin-left: -10px" class="list-group-item text-light sidebar-green"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/future.png' %}">Repas à venir</a>
                        <a style="margin-left: -10px" class="list-group-item text-light sidebar-green"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/history.png' %}">Repas passés</a>
                        <a style="margin-left: -10px" class="list-group-item text-light sidebar-green"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/program.png' %}">Programme</a>
                        <a style="margin-left: -10px" class="list-group-item text-light sidebar-green"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/exercise.png' %}">Aliments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="side-links">
                <a style="margin-left: -10px" class="list-group-item text-light sidebar-green" href="{% url 'contact' %}"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/contact.png' %}">Contact</a>
                <a style="margin-left: -10px" class="list-group-item text-light sidebar-green"><img class="img-fluid pr-3" style="height: 25px" src="{% static 'spodaily_api/img/icon/information.png' %}">Informations</a>
            </div>
        </div>
    </div>
</div>