{% extends "base/base.html" %}
{% load static i18n %}


{% block content %}
<title>Account | Spodaily </title>
{% include 'base/fit/sidebar.html' %}
{% include 'base/header.html' %}

   <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <div class="d-flex justify-content-between pt-2 pb-2">
                <h3 class="main-title text-uppercase align-self-center" style="padding: 0; margin: 0;">Mon compte</h3>
            </div>
            <div class="row d-flex justify-content-center" style="margin-bottom: 10px;">
            <div class="col-9 pb-5">
                <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold" >Mes informations</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <h6 class="heading-small text-muted mb-4 mt-2">Informations utilisateur</h6>
                            <div class="row">
                                <div class="col-6">
                                    <label>Adresse email </label>
                                </div>
                                <div class="col-6">
                                    <label>Mot de passe </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input class="text-muted" id="email" type="email" name="email" value="{{ user.email }}">
                                </div>
                                <div class="col-6">
                                    <a class="text-muted" href="{% url 'password_change' %}">{% trans "Changer mon mot de passe" %}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="name">Nom</label>
                                </div>
                                <div class="col-6">
                                    <label for="first_name">Prénom </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input class="text-muted" id="name" type="text" name="name" pattern="^[.\p{L}]*$" maxlength="20" value="{% if user.name %}{{ user.name }}{% else %}{% endif %}">
                                </div>
                                <div class="col-6">
                                    <input class="text-muted" id="first_name" type="text" name="first_name" pattern="^[.\p{L}]*$" maxlength="20" value="{% if user.first_name %}{{ user.first_name }}{% else %}{% endif %}">
                                </div>
                            </div>
                            <hr class="my-5">
                            <h6 class="heading-small text-muted mb-4 mt-2">Informations sportives</h6>
                            <div class="row">
                                <div class="col-6">
                                    <label for="weight">Poids(kg)</label>
                                </div>
                                <div class="col-6">
                                    <label for="height">Taille(cm)</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input class="text-muted" id="weight" type="number" name="weight" min="10" max="200" value="{{ user.weight }}">
                                </div>
                                <div class="col-6">
                                    <input class="text-muted" id="height" type="number" name="height" min="120" max="250" value="{{ user.height }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="birth">Date de naissance</label>
                                </div>
                                <div class="col-6">
                                    <label>Sexe</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input id="birth" type="text" name="birth" onfocus="(this.type='date')" onblur="(this.type='text')" value="{% if user.birth %}{{user.birth |date:'d/m/Y'}}{% else %}{% endif %}">
                                </div>
                                <div class="col-6">
                                    {% if user.sexe %}{{ user.sexe }}{% else %}{{ edit_user_form.sexe }}{% endif %}
                                </div>
                            </div>
                            <div class="row d-flex flex-row-reverse pr-3">
                                <div>
                                    <input class="btn btn-dark mb-2" type="submit" value="Enregistrer">
                                </div>
                            </div>
                            <hr class="my-5">
                            <h6 class="heading-small text-muted mb-4 mt-2">Gérer mon compte</h6>
                            <div class="row d-flex flex-row-reverse pr-3">
                                <div>
                                    <a class="text-light" href="{% url 'home' %}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
          </div>
           {% include 'base/footer.html' %}
        </div>

{% endblock %}




