{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}

    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h3 class="main-title pt-1">Add activity</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}