{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}

    <title>Programme | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h3 class="main-title text-uppercase align-self-center pb-2 m-0" style="padding-top: 15px !important;">Ajouter une séance dans mon programme</h3>
        </div>
        <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold">Programme de {{ user.first_name }}</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label>Nom de la séance</label>
                                </div>
                                <div class="col-6">
                                    <label>Récurrence</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input class="text-muted" id="name" type="text" name="name" maxlength="25" placeholder="Séance..">
                                </div>
                                <div class="col-6">
                                    <input class="text-muted" id="recurrence" type="number" name="recurrence" maxlength="25" placeholder="7">
                                </div>
                            </div>
                            <input class="btn btn-dark mb-2" type="submit" value="Enregistrer">
                        </form>
                    </div>
                </div>
                </div>
            </div>
        {% include 'base/footer.html' %}
    </div>
{% endblock %}