{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}

    <title>Contact | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h3 class="main-title text-uppercase align-self-center pb-2 m-0" style="padding-top: 15px !important;">Contact</h3>
            <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold">Formulaire de contact</h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label>Motif </label>
                                </div>
                                <div class="col-6">
                                    <label>Contenu</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{form.reason}}
                                </div>
                                <div class="col-6">
                                    <textarea style="resize: none" class="text-muted" id="content" name="content" rows="6" cols="50" placeholder="Entrez votre message"></textarea>
                                </div>
                            </div>
                            <input class="btn btn-dark mb-2" type="submit" value="Enregistrer">
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
    </div>
{% endblock %}