{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}
    <title>Delete session | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h3 class="main-title pt-1">Delete session</h3>
            <form method="post" action="">
                <h3>Delete : {{ session.name }}</h3>
                {% csrf_token %}
                <input type="submit" value="Submit" name="Delete">
            </form>
        </div>
    </div>
{% endblock %}