{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}
    <title>Exercise guide | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <div class="d-flex justify-content-between pt-2 pb-2">
                <h3 class="main-title text-uppercase align-self-center" style="padding: 0; margin: 0">Guide des exercices</h3>
            </div>
        </div>
        <div class="row p-3">
            {% for muscle in muscle %}
                <div class="col-4" style="padding-bottom: 25px">
                    <div class="card shadow h-100 border-0">
                        <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                            {{ muscle.name }}
                        </div>
                        <div class="card-body m-0 p-0">
                            <a href="{% url 'muscle' fk=muscle.uuid %}">
                                <img class="img-fluid" style="width: 100%" src="{% static 'spodaily_api/img/exercise_guide/'%}{{muscle.name}}.png">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'base/footer.html' %}
    </div>
{% endblock %}