{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}
    <title>Home | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h3 class="main-title pt-1">Welcome on Spodaily's home page</h3>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 border-bottom-0 tab-head" style="{{retailer_background_color}};">
                <h6 class="m-0 font-weight-bold text-dark" >Actuality</h6>
            </div>
            <div class="card-body m-0 p-0">
                <p>- V 1.0 -> 31/10/2021 :
                    register, login, logout, reset password, set/update account parameters, change password,
                    create/delete activities and sessions, <br> exercise guide / muscle guide
                </p>
            </div>
          </div>
        </div>
    </div>

{% endblock %}