{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}
    <title>Rules of use | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <div class="d-flex justify-content-between pt-2 pb-2">
                <h3 class="main-title text-uppercase align-self-center" style="padding: 0; margin: 0">Mentions légales</h3>
            </div>

        </div>
        {% include 'base/footer.html' %}
    </div>
{% endblock %}