{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/sidebar.html' %}
{% include 'base/header.html' %}
    <title>Update activity | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <h1 class="main-title text-uppercase align-self-center pb-2 m-0" style="padding-top: 15px !important;">Modifier une activité</h1>
            <div class="row d-flex justify-content-center">
                <div class="col-9">
                    <div class="card shadow h-100 py-0">
                    <div class="card-header border-0 d-flex justify-content-between bg-dark text-light">
                        <h6 class="m-0 p-0 font-weight-bold"></h6>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <label>Exercice </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{ form.exercise_id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Nombre de série </label>
                                </div>
                                <div class="col-6">
                                    <label>Nombre de répétition </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{ form.sets }}
                                </div>
                                <div class="col-6">
                                     {{ form.repetition }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Poids </label>
                                </div>
                                <div class="col-6">
                                    <label>Temps de récupération </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    {{form.weight}}
                                </div>
                                <div class="col-6">
                                    {{form.rest}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10">
                                </div>
                                <div class="col-2">
                                    <input class="btn btn-dark mb-2" type="submit" value="Enregistrer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}