{% extends "base/base.html" %}
{% load static i18n %}
{% block content %}

{% include 'base/food/sidebar.html' %}
{% include 'base/food/header.html' %}
    <title>Home | Spodaily </title>
    <div class="content" style="padding-left: 200px">
        <div class="container-fluid">
            <div class="d-flex justify-content-between pt-2 pb-2">
                <h3>La partie nutrition du site est en construction ! Vous pouvez contribuer à son élaboration en nous écrivant depuis l'onglet "Contact"</h3>
            </div>
        </div>
    {% include 'base/footer.html' %}
    </div>
{% endblock %}